#map{
    height: 400px;
    width: 100%;  
}
#maindiv{

	width: 75%;
}
#maindiv h1{
	margin-left: 30%;
	
}

#editlocationbtn{
	margin-top: 5px;

}

#pac-input{
	width: 250px;
	margin-top: 10px;
}  
.addred{
	color:red;
}